/**********************
********* SLIDER STUFF 
*********************/

.slider {
    height: calc( 75vh - 50px );
    margin-bottom: 50px; 
}
.slider .slick-list, 
.slider .slick-track {
    height: 100%;
}
.slick-initialized .slick-slide {
    display: table;
}
.slider-img {
    width: 100%;
}
.slider-img > div {
    background: rgba(0,0,0,0.60);
    color: #fff;
    display: table-cell;
    font-size: 72px;
    text-align: center;
    vertical-align: middle;
}
.slider-img > div > span {
    display: inline-block;
    height: 200px;
    line-height: 200px;
    width: 70%;
}
#s-img-1 {
    background: url('../img/PHCPano.jpg') top left no-repeat;
    background-size: cover;
}
#s-img-2 {
    background: url('../img/DSCN0220.JPG') top left no-repeat;
    background-size: cover;
}
#s-img-3 {
    background: url('../img/DSCN0218.JPG') top left no-repeat;
    background-size: cover;
}
.marketing .img-circle {
    margin: 0 33.333333%;
}

.placeholder-block-delete-and-add-image {
    background: #777;
    height: 150px;
    width: 125px;
}


/************************  
*******************LOGIN
***********************/

.login {
    background: #2f2f2f;
    color: #eee;
    border: 1px solid #333;
    border-radius: 5px;
    height: 80%;
    padding: 25px;
    position: fixed;
        right: -330px;
    transition: all 1s, ease-out;
    width: 320px;
    z-index: 0;
}
.login.active {
        right: 0;
    transition: all 1s, ease-in;
    z-index: 9999;
}
.login__button {
    cursor: pointer;
}
.overlay {
    background: #000;
    height: 100%;
    opacity: 0;
    position: fixed;
        left: 0;
        top: 0;
    transition: all 1s,ease-out;
    width: 100%;
    z-index: 0;
}
.overlay.active {
    opacity: .75;
    transition: all 1s, ease-in;
    z-index: 1000;
}


/************************  
*******************FOOTER
***********************/

footer {
    background: #222;
    color: #fff;
    min-height: 300px;
}


/************************  
*********************CART
***********************/

.cart--underline {
    border-bottom: 1px solid #222;
    margin-bottom: 15px;
}


/************************  
*********************MAIN
***********************/

body {
    background: #2f2f2f;
    color: #eee;
}
h1, h2, h3, h4, h5, h6 {
    color: #eee;   
}
h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.top-spacer {
    margin-top: 25px;
}
.bottom-spacer {
    margin-bottom: 25px;
}


/* adds vertical space between
catalog entries - keeps spacing
uniform as the viewport shrinks */
.catalog-spacer {
    margin-bottom: 20px;
}


/************************  
**********************NAV
***********************/

.navbar-inverse .navbar-brand {
    color: #FFF139;
}
.navbar-inverse .navbar-nav > li > a {
    color: #6BA6FC;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #E51837;
    background-color: #000;
}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #FFF139;
}


/************************  
******************CONTACT
***********************/

/* changed background color
to match color scheme */
.btn-contact {
    color: #fff;
    background-color: #6BA6FC;
    /**border-color: #867072;**/
}

/************************  
******************NEW RELEASES
***********************/

.list-group-item {
	color:#FFF;
	background-color: #2f2f2f;

}

